<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>Express Google Drive</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Express Google Drive, a proyect by: danielPlata79<%= title %></p>
  </body>
</html>
